@import '../../../../../Base.less';
.MuiDrawer-root  {
    .MuiPaper-root{
        top: unset !important;
        margin: 5px;
        height: calc(100% - 180px);
        border: 1px solid #333;
    }
}