@import '../../../Base.less';

.body{
    margin-top: 5%;
    min-height: calc(100vh - 161px);
}
.footer{
    background: linear-gradient(to right, #333,rgb(60, 56, 56), #111);
    padding: 30px 20px;
}
@media @phone-strict{
    .body{
        margin-top: 14%;
        min-height: calc(100vh - 139px)
    }
}

@media @tablet-strict{
    .body{
        margin-top: 9%;
        min-height: calc(100vh - 130px)
    }
}