@import "../../../Base.less";

.body {
  margin-top: 5%;
  margin-left: calc(100% - 81%);
  padding: 20px;
  height: 100%;
  min-height: 550px;
  padding-bottom: 50px;
}
.footer {
  background: linear-gradient(to right, #333, rgb(60, 56, 56), #111);
  padding: 15px 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
@media @phone-strict {
  .body {
    margin-top: 14%;
    min-height: calc(100vh - 120px);
  }
  .makeStyles-root-26 {
    .MuiPaper-root {
      width: 100%;
    }
  }
}

@media @tablet-strict {
  .body {
    margin-left: 0;
    margin-top: calc(100% - 92%);
    min-height: calc(100vh - 75px);
  }
  .makeStyles-root-26 {
    .MuiPaper-root {
      width: 100%;
    }
  }
}

@media @phone-strict {
  .body {
    margin-top: 15%;
    margin-left: 0;
    padding: 10px;
    height: 100%;
    min-height: 100vh;
  }
  .footer {
    position: relative;
  }
}
