@primary-color-100: #4CA1AF;
@primary-color-200: #5eaab7;
@primary-color-300: #70b4bf;
@primary-color-400: #82bdc7;
@primary-color-500: #94c7cf;
@secondary-color-100: #C4E0E5;
@secondary-color-200: #cae3e8;
@secondary-color-300: #d0e6ea;
@secondary-color-400: #d6e9ed;
@secondary-color-500: #dcecef;
@title-color: @primary-color-100;
@title-secondary-color: @secondary-color-100;
@body-color: #333;
@white: #fff;
@gray: #ddd;
@success: rgb(117, 197, 117);
@failed: rgba(255, 97, 79, 0.816);

@screen-xs-min: 480px;
@screen-sm-min: 480px;
@screen-md-min: 1280px;
@screen-lg-min: 1200px;
@fontWeightSecondary: 500;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@phone: ~"only screen and (max-width: @{screen-xs-min})";
@phone-strict: ~"only screen and (max-width: @{screen-xs-max})";
@tablet: ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop: ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@large: ~"only screen and (min-width: @{screen-lg-min})";