@primary-color-100: #333;
@primary-color-200: #333;
@primary-color-300: #333;
@primary-color-400: #333;
@primary-color-500: #333;
@secondary-color-100: #111;
@secondary-color-200: #111;
@secondary-color-300: #111;
@secondary-color-400: #111;
@secondary-color-500: #111;
@title-color: green;
@title-secondary-color: red;
@body-color: blue;
@white: #fff;
@gray: #ddd;
@success: green;
@failed: pink;

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@fontWeightSecondary: 500;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

@phone: ~"only screen and (max-width: @{screen-xs-min})";
@phone-strict: ~"only screen and (max-width: @{screen-xs-max})";
@tablet: ~"only screen and (min-width: @{screen-sm-min})";
@tablet-strict: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@desktop: ~"only screen and (min-width: @{screen-md-min})";
@desktop-strict: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@large: ~"only screen and (min-width: @{screen-lg-min})";